capgps
cfgscope
cpuscope
crctest
dbg.txt
dbg2.txt
*.64t
dcachescope
debug.txt
divutb
dumpflash
eqspiscope
flashscope
flashid
eqspidump-original.bin
eqspidump.bin
erxscope
etxscope
genoimage
genoimage.cpp
gpscoeffs
gpsscope
gps/*
manping
mdioscope
mtee.txt
mtest
netsetup
netuart
oled_splash.c
oled_splash.png
oled_splash_jr.png
scopout
scopout.txt
scopout2.txt
sdramscope
tags
tstgps
wbprogram
wbregs
wbsettime
wbuscope
zipdbg
zipload
zipstate
obj-pc/*
.*.swp
